<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="metaservice"
		class="org.ow2.play.metadata.service.InMemoryMetadataServiceImpl" />

	<bean id="metaloader"
		class="org.ow2.play.metadata.json.JSONMetadataLoaderImpl" />

	<bean id="bootservice" class="org.ow2.play.metadata.service.BootstrapServiceImpl">
		<property name="metadataService" ref="metaservice" />
		<property name="metadataLoader" ref="metaloader" />
	</bean>

	<jaxws:endpoint id="meta" implementor="#metaservice"
		address="/MetadataService" />

	<jaxws:endpoint id="boot" implementor="#bootservice"
		address="/BootService" />

</beans>