<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="serviceregistry" class="org.ow2.play.governance.client.ServiceRegistry">
		<property name="url" value="http://localhost:8080/registry/RegistryService"/>
	</bean>

	<bean id="eventservice"
		class="org.ow2.play.governance.service.EventGovernanceService">
		<property name="serviceRegistry" ref="serviceregistry" />
	</bean>

	<bean id="managementservice"
		class="org.ow2.play.governance.service.GovernanceManagementService">
	</bean>
	
	<bean id="subscriptionstorageservice"
		class="org.ow2.play.governance.service.InMemorySubscriptionRegistryService">
	</bean>
	
	<bean id="wsnsubscriptionservice"
		class="org.ow2.play.governance.wsn.SubscriptionServiceClient">
	</bean>

	<jaxws:endpoint id="event" implementor="#eventservice"
		address="/EventGovernance" />

	<jaxws:endpoint id="management" implementor="#managementservice"
		address="/ManagementService" />
		
	<jaxws:endpoint id="subscriptionstorage" implementor="#subscriptionstorageservice"
		address="/SubscriptionStorageService" />

	<jaxws:endpoint id="subscriptionservice" implementor="#wsnsubscriptionservice"
		address="/SubscriptionService" />

</beans>